*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    margin-left: 12rem;
    height:100vh;
}

/* Navigation CSS */
nav{
    background-color: rgba(16, 16, 129, 0.952);
    color:rgb(238, 247, 247);
    height: 2rem;
    padding: 1 rem;
    width:10rem;
    height:100vh;
    position: fixed;
    display:flex;
}

nav:hover{
    width:16rem;
    
}

nav li{
    display: flex;
    list-style-type: none;
}

nav a {
    color:rgb(238, 247, 247);
    font-weight: 400;
    padding: 1rem;
    text-decoration: none;
}

/* Wish List  CSS */

.container{
    width:100%;
    height:110vh;
}

.wish_list{
    width: 100%;
    max-width: 540px;
    background: rgba(16, 16, 129, 0.952);
    color:rgb(238, 247, 247);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
}

.wish_list h2{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: rgb(238, 247, 247);
    border-radius:30px;
}

.row input{
    flex:1;
    border:none;
    outline: none;
    background:transparent;
    padding:10px;
    font-weight:15px;
}

.row button{
    border:none;
    outline: none;
    background:rgba(86, 210, 248, 0.952);
    padding:16px 50px;
    border-radius:40px;
    color:rgba(16, 16, 129, 0.952);
    font-size: 16px;
    cursor: pointer;
}

#list_container li{
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select:none;
    cursor: pointer;
    position: relative;
}

#list_container li::before{
    content:'';
    position: absolute;
    height:28px;
    width: 28px;
    border-radius: 50%;
    background:rgb(238, 247, 247);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
}

#list_container li.checked{
    color: rgb(238, 247, 247);
    text-decoration: line-through;
}

#list_container li.checked::before{
    background: rgba(86, 210, 248, 0.952)
}